[Unit]
Description=Export phonebook to LDAP
After=mysqld.service
Wants=mysqld.service

[Service]
Type=forking
User=phonebook
Group=phonebook
ExecStart=/usr/bin/node /usr/share/phonebookjs/phonebook.js /usr/share/phonebookjs/config.json
Restart=always
SyslogIdentifier=phonebookjs
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
